a {
  cursor: pointer;
}

h1 {
  font-family: "montserrat";
  font-weight: 900;
  color: #666666;
}

h2 {
  text-align: center;
  color: #a4be38;
  font-weight: bold;
  font-family: "montserrat", sans-serif;
  padding: 1em;
}

p {
  color: #666666;
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  text-align: justify;
  padding: 1em;
}

h3 {
  color: #666666;
  font-family: "montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
  padding: 1em;
}

h5 {
  color: #666666;
  text-align: center;
}

body {
  background-color: #fff;
}

body,
html {
  height: 100%;
}

.bg-img {
  height: 100vh;
  background-image: url(../images/fondo-index.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

/* ALINEACIONES DE TEXTO*/
.center {
  text-align: center;
}

.toTheLeft {
  text-align: left;
}

.toTheRight {
  text-align: right;
}

.justify {
  text-align: justify;
}

.titleOverImg {
  color: #f8f3e9 !important;
  text-shadow: 1px 1px 2px #333 !important;
}

.bg-body-tertiary {
  background-color: #f8f3e9 !important;
}

.button {
  background-color: #f8f3e9;
  color: #a4be38;
  border-color: #d8d8d8;
  border-width: 3px;
  border-style: solid;
  border-radius: 30px;
}
.button:hover {
  cursor: pointer;
  color: #f8f3e9;
  background-color: #666666;
}

footer {
  bottom: 0px;
  background-color: #666666;
  padding: 1em;
}
footer a {
  color: white !important;
  text-decoration: none !important;
}

.logo-footer {
  width: 200px !important;
}

.nav-style {
  font-family: montserrat, sans-serif !important;
  color: #a4be38;
  text-align: left;
  padding-left: 1em;
}

.nav-link {
  font: montserrat, sans-serif;
  color: #a4be38;
}

nav {
  padding: 12;
  font-family: "montserrat", sans-serif;
  font-weight: 600;
}

.card {
  font-family: "montserrat", sans-serif;
  color: #666666;
  text-align: center;
  background-color: #fff;
  margin-bottom: 2em;
}
.card:hover {
  transform: scale(1.05);
}
.card h5 {
  font-weight: 600;
}
.card p {
  text-align: center;
}

/* Estilos para el formulario de contacto */
.container-contact {
  padding-bottom: 3em;
}
.container-contact .container {
  max-width: 800px;
  margin: 0 auto;
}
.container-contact h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.container-contact p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}
.container-contact form {
  background-color: #f8f9fa;
  padding: 2rem;
  border-radius: 0.5rem;
}
.container-contact form div {
  margin-bottom: 1rem;
}
.container-contact input[type=text],
.container-contact input[type=email],
.container-contact textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.2rem;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.2);
}
.container-contact select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.2rem;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.2);
}
.container-contact textarea {
  height: 10rem;
  resize: none;
}
.container-contact label {
  font-size: 1.2rem;
  margin-right: 1rem;
}
.container-contact input[type=checkbox] {
  margin-right: 0.5rem;
}
.container-contact input[type=reset],
.container-contact input[type=submit] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.container-contact input[type=reset]:hover,
.container-contact input[type=submit]:hover {
  background-color: #0069d9;
}
.container-contact input[type=reset]:focus,
.container-contact input[type=submit]:focus {
  outline: none;
  box-shadow: 0px 0px 0px 3px rgba(0, 123, 255, 0.5);
}

/*# sourceMappingURL=style.css.map */
