$main-color-1: #666666;
$main-color-2: #f8f3e9;
$main-color-3: #a4be38 ;
$main-typography: "Montserrat", sans-serif;


  /*VARIABLES EN LA TIPOGRAFIA*/
  .tipografiaBlack {
    font-family: $main-typography;
    font-weight: 900;
    color: $main-color-1;
  }
  
  .tipografiatRegular {
    font-family: $main-typography;
    font-weight: 400;
  }
  
  .tipografiaSemiBold {
    font-family: $main-typography;
    font-weight: 600;
  }
  body {
    background-color: $main-color-2;
  }
  body,
  html {
    height: 100%;
  }

  .bg-img {
    height: 100vh;
    background-image: url(images/fondo2.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
  
  /* ALINEACIONES DE TEXTO*/
.center {
    text-align: center;
  }
  
  .toTheLeft {
    text-align: left;
  }
  
  .toTheRight {
    text-align: right;
  }
  
  .justify {
    text-align: justify;
  }
  

  
  .titleOverImg {
    color:$main-color-2 !important;
    text-shadow: 1px 1px 2px #333 !important;
  }
  
 
  .bg-body-tertiary {
    background-color: $main-color-2 !important;
  }
  
  p {
    color: $main-color-1;
    font-family: $main-typography;
    font-weight: 400;
  }
  .mainTitles {
    color: $main-color-3;
    font-size: 25px;
    font-family: $main-typography;
    font-weight: 600;
  }
  
  
  