// Aplicando anidacion

  footer {
    bottom: 0px;
    background-color: $main-color-1;
    padding: 1em;
    a {
      color: white !important;
      text-decoration: none !important;
    }
  }

  .logo-footer{
    width: 200px !important;
  }


 